//Colors

$color-primary: #ffffff;
$color-secondary: #262626;
$color-tertiary: #1f1f1f;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
$font-primary: 'Gilda Display', sans-serif;

$font-size-smallest: 12px;
$font-size-small: 15px;
$font-size-medium: 32px;
$font-size-large: 128px;
