@use "../../styles/variables/_variables" as vars;

.header {
    position: relative;
    height: 100svh;
    background-image: url("../../assets/images/headerBg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        font-size: vars.$font-size-large;
        color: vars.$color-primary;
        text-shadow: 8px 4px 7px rgba(0, 0, 0, 0.25);
        font-family: vars.$font-primary;
        text-transform: uppercase;
        text-align: center;
    }

    .textBox {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 320px;
        
        background: rgba(0, 0, 0, 0.52);
        color: vars.$color-primary;

        .subHeader {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 550px;
            
        }

        h3{
            font-size: vars.$font-size-medium;
            padding-top: 50px;
            font-family: vars.$font-primary;
            text-transform: uppercase;
            text-align: center;
    
        }

        p {
            font-size: vars.$font-size-small;
            padding-top: 50px;
            margin: 0 auto;
            width: 460px;
            font-family: vars.$font-primary;
            line-height: 20px;
            overflow-wrap: break-word;
            text-align: justify;
            hyphens: auto;
        }
            
            
        }
    }
